<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 
<html>
<head>
<style>
h1 {
  text-align: center;
  color:blue;
  font-weight:500;
}

</style>
</head>
<body>
<h1>Compartilhe esse post em outras Redes</h1>
<ul>
        <li>
            <a href="https://pt-br.facebook.com/">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/login?lang=pt">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://br.linkedin.com/">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://www.google.com.br/">
                <i class="fa fa-google"></i>
            </a>
        </li>
        <li>
            <a href="https://www.whatsapp.com/?lang=pt_br">
                <i class="fa fa-whatsapp"></i>
            </a>
        </li>
    </ul>