<app-header></app-header>
<body>
    <section style="background-color: #F3FFFF;" class="container">
        <div *ngFor="let post of postList">
            <tr><br /></tr>
            <div class="row">
                <mat-card class="card">
                    <mat-card-header style="align-items: center;">
                        <div mat-card-avatar class="card_header_avatar">
                            <mat-icon>person</mat-icon>
                        </div>
                        <mat-card-title routerLink="/post">{{post.title}}</mat-card-title>
                        <mat-card-subtitle>{{post.createdBy}} || {{post.language}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card class="internal-card">
                            <mat-card-header style="display: inline;">
                                <mat-chip-list>
                                    <mat-chip *ngFor="let categorie of post.categories">{{categorie}}</mat-chip>
                                </mat-chip-list>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
            </div>
            <tr><br /></tr>
        </div>
    </section>
</body>
<app-footer></app-footer>