<app-header></app-header>
<body>
    <div class="left-vertical-container">
        <div class="dev-traduo-icon">
            <img src="../../assets/devTraduo_qualidade.png" alt="logo dev traduo" id="dev-traduo-icon"> 
        </div>
        <div class="image-profile">
            <img src="https://cdn-icons-png.flaticon.com/512/3033/3033143.png" alt="" id="image-profile">
            <img src="../../../assets/porta-distintivo-escrivao-de-policia-removebg-preview.png" id="insigia-image">
            <app-upload-file id="upload-image-profile-button"></app-upload-file>
        </div>
        <div class="user-name">
            <h1 id="user-name"> {{ nome }} </h1>
        </div>
        <div class="user-about">
            <p id="occupation"> {{ profissao }} </p>
            <div class="user-about-edit-button">
                <button mat-stroked-button (click)="openDialog()" color="primary" style="border: 1px solid rgb(255, 255, 255)">
                    <mat-icon color="primary">edit</mat-icon>Editar
                </button>
            </div>
            <ul id="areas">
                <li>Data Storing</li>
                <li>Perfomance Profiling</li>
                <li>Compilers Optimization</li>
                <li>Operation Systems</li>
                <li>Parallel Computing</li>
            </ul>
        </div>
    </div>

    <div class="right-vertical-container">
        <button mat-button (click)="openTranslation()">
            <mat-icon class="user-data-icon">article</mat-icon>Translations
        </button>
        <button mat-button (click)="openExplanation()">
            <mat-icon class="user-data-icon">handshake</mat-icon>Explanations
        </button>
        <button mat-button (click)="openPosts()">
            <mat-icon class="user-data-icon">view_list</mat-icon>Posts
        </button>
    </div>
</body>
<app-footer></app-footer>