body {
    background-color: #c4d4dc;
}

.superior,
.final {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}


.example-card1,
.example-card2 {
    width: 40%;
    height: 80%;
    margin-bottom: 8px;
}

.detalhes {
    width: 80%;
    height: 80%;
    margin-bottom: 8px;
}

.example-card1 {
    background-color: #c4d4dc;
}

mat-card img {
    width: 50%;
    align-items: center;
    text-align: center;
}

.example-card2 {
    text-align: center;
}


.detalhes {
    border: 1px solid;
}

.detalhes .edit {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 1%;
}

.button_open {
    display: block;
}

.tradu_exp_post {
    text-align: end;
}

.example-card1 img {
    background-color: #aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.example-card1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
