<div mat-dialog-content style="width: 80vh;">
  Todos as Explicações:
  <br/><br/>
  <ul>
    <div *ngFor="let translation of explanationList">
      <mat-accordion>
        <mat-expansion-panel style="background-color:lightblue;">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px;">
              {{translation.postTitle}}
            </mat-panel-title>
            <mat-panel-description>
              {{translation.postUser}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br/><br/>
          {{translation.content}}
        </mat-expansion-panel>
      </mat-accordion>
      <br/>
    </div>
  </ul>
</div>