body {
    display: flex;
    justify-content: center;
    background-color: #053d58;
}

.text-field {
    margin-top: 0;
}

.text-area-label {
    padding-bottom: 5px;
}

.text-area {
    height: 300px;
    margin-top: 10px;
}

.text-area-title {
    min-height: 30px;
    max-height: 35px;
    margin-top: 10px;
}


.form {
    width: 50%;
    margin-top: 2%;
}
 
mat-form-field {
    width: 100%;
    margin-top: 2.5%;
    height: 50px;
    font-size: 1.5em;
}
 
mat-card {
    max-width: 100%;
    margin: 2em auto;
    text-align: center;
}

.button {
    font-size: 25px;
    height: 50px;
    width: 15%;
}
