<app-header></app-header>
<section style="background-color: #F3FFFF;">
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title  routerLink="/post">{{post.title}}</mat-card-title>
                <mat-card-subtitle>{{post.createdBy}} || {{post.language}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-content>
                        {{post.description}}
                    </mat-card-content>
                    <mat-card-footer style="display: inline;">
                        <mat-chip-list>
                            <mat-chip *ngFor="let categorie of post.categories">{{categorie}}</mat-chip>
                        </mat-chip-list>
                    </mat-card-footer>
                </mat-card>
            </mat-card-content>
            <mat-card-footer>
                <button mat-button color="blue" style="background-color: transparent;" (click)="postLiked($event)" [disabled]="liked"><mat-icon >thumb_up</mat-icon></button>
                <span>{{post.likes}}</span>
                <button mat-button color="red"  style="background-color: transparent;" (click)="postDisliked()" [disabled]="disliked"><mat-icon >thumb_down</mat-icon></button>
                <button mat-button style="background-color: transparent;" (click)="openflagDialog()"><mat-icon >flag</mat-icon></button>
                <button mat-button style="background-color: transparent;" (click)="openShareDialog()"><mat-icon >share</mat-icon></button>
            </mat-card-footer>
        </mat-card>
    </div>
    <tr><br/></tr>
    <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="openCommentDialog()" class="button" style="text-align: center;">Comentar</button>  
    </div>
    <tr><br/></tr>
    <mat-tab-group class="comment-card">
        <mat-tab label="Tradução"> 
            <div *ngFor="let comment of translationList">
                <mat-card>
                    <mat-card-title title="review">
                        <mat-icon>person</mat-icon> {{comment.userLogin}}:
                        </mat-card-title>
                    <mat-card-content>
                        {{comment.content}}
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-button color="blue" style="background-color: transparent;"><mat-icon >thumb_up</mat-icon></button>
                        <button mat-button color="red"  style="background-color: transparent;"><mat-icon >thumb_down</mat-icon></button>
                        <button mat-button style="background-color: transparent;"><mat-icon >reply</mat-icon></button>
                        <button mat-button style="background-color: transparent;" (click)="openflagDialog()"><mat-icon >flag</mat-icon></button>
                        <button mat-button style="background-color: transparent;" (click)="openShareDialog()"><mat-icon >share</mat-icon></button>
                    </mat-card-footer>
                </mat-card>
                <br/>
            </div>
        </mat-tab>
        <mat-tab label="Explicação">
            <div *ngFor="let comment of explanationList">
                <mat-card>
                    <mat-card-title title="review">
                        <mat-icon>person</mat-icon> {{comment.userLogin}}: 
                        </mat-card-title>
                    <mat-card-content>
                        {{comment.content}}
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-button color="blue" style="background-color: transparent;"><mat-icon >thumb_up</mat-icon></button>
                        <button mat-button color="red"  style="background-color: transparent;"><mat-icon >thumb_down</mat-icon></button>
                        <button mat-button style="background-color: transparent;"><mat-icon >reply</mat-icon></button>
                        <button mat-button style="background-color: transparent;" (click)="openflagDialog()"><mat-icon >flag</mat-icon></button>
                        <button mat-button style="background-color: transparent;" (click)="openShareDialog()"><mat-icon >share</mat-icon></button>
                    </mat-card-footer>
                </mat-card>
                <br/>
            </div>  
        </mat-tab>
    </mat-tab-group>
    <tr><br/></tr>
</section>
