<section style="background-color: #F3FFFF;">
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title  routerLink="/post">Title for the Post</mat-card-title>
                <mat-card-subtitle>User || Language</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips">Categoria 1</mat-chip>
                            <mat-chip class="card-chips">Categoria 2</mat-chip>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <div class="buttons-post">
                <mat-icon style="margin-left: 2em;">thumb_up</mat-icon><mat-icon style="margin-left: 2em;">comment</mat-icon><mat-icon style="margin-left: 2em;">flag</mat-icon><mat-icon style="margin-left: 2em;">share</mat-icon>
            </div>
        </mat-card>
    </div>
    <tr><br/></tr>
    <mat-tab-group class="comment-card">
        <mat-tab label="Tradução"> 
            <mat-card>
                <mat-card-title title="review">
                    <mat-icon>person</mat-icon> Usuário X: 
                    </mat-card-title>
                <mat-card-content>
                    Explicação ...
                </mat-card-content>
                <div class="buttons-post">
                    <mat-icon style="margin-left: 2em;">thumb_up</mat-icon><mat-icon style="margin-left: 2em;">reply</mat-icon><mat-icon style="margin-left: 2em;">flag</mat-icon><mat-icon style="margin-left: 2em;">share</mat-icon>
                </div>
            </mat-card>
            <br/>
            <mat-card>
                <mat-card-title title="review">
                    <mat-icon>person</mat-icon>Usuário Y:  
                </mat-card-title>
                <mat-card-content>
                    Explicação ...
                </mat-card-content>
                <div class="buttons-post">
                    <mat-icon style="margin-left: 2em;">thumb_up</mat-icon><mat-icon style="margin-left: 2em;">reply</mat-icon><mat-icon style="margin-left: 2em;">flag</mat-icon><mat-icon style="margin-left: 2em;">share</mat-icon>
                </div>
            </mat-card>
            <br/>
            <mat-card>
                <mat-card-title title="review">
                    <mat-icon>person</mat-icon>Usuário Z:  
                </mat-card-title>
                <mat-card-content>
                    Explicação ...
                </mat-card-content>
                <div class="buttons-post">
                    <mat-icon style="margin-left: 2em;">thumb_up</mat-icon><mat-icon style="margin-left: 2em;">reply</mat-icon><mat-icon style="margin-left: 2em;">flag</mat-icon><mat-icon style="margin-left: 2em;">share</mat-icon>
                </div>
            </mat-card>
            <br/>
        </mat-tab>
        <mat-tab label="Explicação">  
            <mat-card>
                <mat-card-title title="review">
                    <mat-icon>person</mat-icon>Usuario W: 
                </mat-card-title>
                <mat-card-content>
                    Tradução ...
                </mat-card-content>
                <div class="buttons-post">
                    <mat-icon style="margin-left: 2em;">thumb_up</mat-icon><mat-icon style="margin-left: 2em;">reply</mat-icon><mat-icon style="margin-left: 2em;">flag</mat-icon><mat-icon style="margin-left: 2em;">share</mat-icon>
                </div>
            </mat-card>
            <br/>
        </mat-tab>
    </mat-tab-group>
    <tr><br/></tr>
</section>
